
@import url("./fonts.css");

.App {
  padding: 1em;
  font-family: 'Roboto Mono';
  font-weight: 100;
  cursor: default;
}

@keyframes hover {
  from: {background-color: #000000;}
  to: {background-color: #888888;}
}

.menu {
  width: 7.9em;
  border: solid 1px #888888;
  border-radius: 1.5em;
  box-shadow: 10px 10px 8px #888888;
  margin-left: auto;
}

.menubutton {
  width: 8em;
  border: solid 1px #888888;
  border-radius: 1.5em;
  text-align: center;
  padding-bottom: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.menubutton:hover {
  animation-name: hover;
  animation-duration: 1s;
}

.menuitem {
  border: none;
  border-radius: 1.5em;
  width: 7.9em;
  padding: 0.1em;
  margin: 0;
}

.menuitem:hover {
  animation-name: hover;
  animation-duration: 1s;
}

.center {
  text-align: center;
  margin: auto;
}

a {
  color: #072d59;
  cursor: default;
  text-decoration: none;
}
