
@import url("./fonts.css");

.App {
  padding: 1em;
  font-family: 'Roboto Mono';
  font-weight: 100;
  cursor: default;
}

.menu {
  width: 7.9em;
  border: solid 1px #D3D3D3;
  border-radius: 1.5em;
  box-shadow: 10px 10px 8px #D3D3D3;
  margin-left: auto;
}

.menubutton {
  width: 8em;
  border: solid 1px #D3D3D3;
  border-radius: 1.5em;
  transition: background-color 1s;
  text-align: center;
  padding-bottom: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.menubutton:hover {
  background-color: #D3D3D3;
}

.menuitem {
  border: none;
  border-radius: 1.5em;
  transition: background-color 200ms;
  width: 7.9em;
  padding: 0.1em;
  margin: 0;
}

.menuitem:hover {
  background-color: #D3D3D3;
}

.center {
  text-align: center;
  margin: auto;
}

a {
  color: #072d59;
  cursor: default;
  text-decoration: none;
}
