@import url("./fonts.css");

.App {
  padding: 1em;
  font-family: 'Kaisei Decol';
  cursor: default;
}

.menu {
  width: 8em;
  background-color: #a0c4e8;
  margin-left: auto;
}

.menubutton {
  width: 8em;
  padding-bottom: 0.1em;
  margin: 0;
}

.menubutton:hover {
  background-color: #a0c4e8;
}

.menuitem {
  background-color: #a0c4e8;
  border: none;
  height: 3em;
  width: 9.5em;
  padding: 0.2em;
  margin: 0;
}

.menuitem:hover {
  background-color: #6699cc;
}

a {
  color: #072d59;
  cursor: default;
  text-decoration: none;
}

